:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #323abb;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#create-todo {
	text-align: center;
}

.todo button {
	border: 1px solid black;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#create-todo button,
#create-todo input
{
    border-radius: 8px;
	height: 30px;
}

#app {
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.todo {
    border-radius: 8px;
	margin: 10px;
	padding: 10px;
	text-align: left;
	border: 1px solid black;
	min-width: 230px;
	max-width: 230px;
	min-height: 230px;
}
.todo form {
    display: inline;
}
.todo p {
	text-align: left;
}

.todo-done>p {
  text-decoration: line-through;
}

.todo-skip>p {
	color: green;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
